<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ManageUsers</servlet-name>
        <servlet-class>controller.dashboard.users.ManageUsers</servlet-class>
        <init-param>
            <param-name>page</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsers</servlet-name>
        <servlet-class>controller.dashboard.users.DeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.dashboard.users.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>controller.dashboard.users.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCars</servlet-name>
        <servlet-class>controller.main.ShowCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkouts</servlet-name>
        <servlet-class>controller.main.Checkouts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishOrders</servlet-name>
        <servlet-class>controller.main.FinishOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrders</servlet-name>
        <servlet-class>controller.main.ViewOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller.main.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPayment</servlet-name>
        <servlet-class>controller.main.ConfirmPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrders</servlet-name>
        <servlet-class>controller.dashboard.orders.ManageOrders</servlet-class>
        <init-param>
            <param-name>page</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ManageCars</servlet-name>
        <servlet-class>controller.dashboard.cars.ManageCars</servlet-class>
        <init-param>
            <param-name>page</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ConfirmReceivedCars</servlet-name>
        <servlet-class>controller.dashboard.orders.ConfirmReceivedCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmReturnedCars</servlet-name>
        <servlet-class>controller.dashboard.orders.ConfirmReturnedCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAvailableCars</servlet-name>
        <servlet-class>controller.dashboard.cars.SetAvailableCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetUnavailableCars</servlet-name>
        <servlet-class>controller.dashboard.cars.SetUnavailableCars</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUsers</servlet-name>
        <url-pattern>/dashboard/manage-users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsers</servlet-name>
        <url-pattern>/dashboard/delete-users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/dashboard/add-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/dashboard/edit-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCars</servlet-name>
        <url-pattern>/show-cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkouts</servlet-name>
        <url-pattern>/checkouts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishOrders</servlet-name>
        <url-pattern>/finish-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrders</servlet-name>
        <url-pattern>/view-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/cancel-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPayment</servlet-name>
        <url-pattern>/confirm-payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrders</servlet-name>
        <url-pattern>/dashboard/manage-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCars</servlet-name>
        <url-pattern>/dashboard/manage-cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmReceivedCars</servlet-name>
        <url-pattern>/dashboard/confirm-received-cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmReturnedCars</servlet-name>
        <url-pattern>/dashboard/confirm-returned-cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAvailableCars</servlet-name>
        <url-pattern>/dashboard/set-available-cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetUnavailableCars</servlet-name>
        <url-pattern>/dashboard/set-unavailable-cars</url-pattern>
    </servlet-mapping>
</web-app>
