<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ManageUsers</servlet-name>
        <servlet-class>controller.dashboard.users.ManageUsers</servlet-class>
        <init-param>
            <param-name>page</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsers</servlet-name>
        <servlet-class>controller.dashboard.users.DeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.dashboard.users.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>controller.dashboard.users.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCars</servlet-name>
        <servlet-class>controller.main.ShowCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkouts</servlet-name>
        <servlet-class>controller.main.Checkouts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishOrders</servlet-name>
        <servlet-class>controller.main.FinishOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrders</servlet-name>
        <servlet-class>controller.main.ViewOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUsers</servlet-name>
        <url-pattern>/manage-users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsers</servlet-name>
        <url-pattern>/delete-users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/add-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/edit-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCars</servlet-name>
        <url-pattern>/show-cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkouts</servlet-name>
        <url-pattern>/checkouts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishOrders</servlet-name>
        <url-pattern>/finish-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrders</servlet-name>
        <url-pattern>/view-orders</url-pattern>
    </servlet-mapping>
</web-app>
